:root {
    --Darkolive: #808000;
    --olive: #a3a02b;
    --navy: #001f3f;
    --black: #111111;
    --white: #ffffff;
    --Redclay: #b7563d;
    --tan: #e9b35f;
    --burgundy: #7d4554;
    --grey: #c0c0c0;
}

.about-text h3 {
    color: var(--white)
}
.about-text {
    color: var(--grey);
    text-align: justify;
}


.about-text h3 span {
    color: var(--olive) !important;
    font-size: 14px;
}
.about .row {
    max-width: 92%;
}
.about .wrapper {
    margin-left: 100px;
}

.about_image {
    max-width: 60%;
}

img {
width: 400px !important;
height: 400px !important;
margin-right: 160px;
}

.technology span {
    color: var(--Darkolive);   
}


/* @media only screen and (max-width: 375px) {
    
} */