:root {
    --Darkolive: #808000;
    --olive: #a3a02b;
    --navy: #001f3f;
    --black: #111111;
    --white: #ffffff;
    --Redclay: #b7563d;
    --tan: #e9b35f;
    --burgundy: #7d4554;
    --grey: #c0c0c0;
}

.icons-container {
    position: fixed;
    bottom: 0px;
}

.icons-container .icons {
list-style-type: none;
}

.icons-container .icons li {
    margin: 5px 0px;
}

.icons-container .icons::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin-top: 10px;
    margin-left: 12px;
    background-color: var(--Darkolive);
}

.email-container {
    position: fixed;
    bottom: 30px; 
    right: 15px;

}

.email-container p {
    color: var(--Redclay);
    writing-mode: vertical-lr;
}

.email-container p::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 90px;
    margin-top: 10px;
    margin-right: 3px;
    background-color: var(--Darkolive);
}

main h1 {
    font-size: 4vw;
}

main {
    /* margin-top: 70px; */
    margin-left: 120px;
}

main .hi-name  {
   color: var(--olive);
   font-size: 2vw;
   font-weight: bold;
}

main h2 {
    color: var(--olive);
    font-size: 50px;
    font-size: 5vw;
 }

 main .details {
    color: var(--grey);
    margin-top: 10px;
 }

 main button {
    border: 2px solid var(--olive);
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
    color: var(--olive);
 }

 main button:hover {
    background-color: rgba(62, 122, 130, 0.4) !important;
    color: var(--white) !important;
 }


.learn {
    text-decoration: none;
    color: #b7563d;
}




 /* this hides css edits to smaller screens */
 @media only screen and (max-width: 768px) {
    .icons-container, .email-container {
        display: none;
    }
    main {
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
    }

 }